*{
    font-family: 'Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
html{
    min-width: 375px;
    max-width: 1440px;
    margin:auto;
}
body {
    margin:auto;
    width:90%;
    min-height: 100vh;
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top bottom;
    font-family: 'Spartan', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%)
}
header h1{
    color:var(--Very-Dark-Magenta);
    font-weight:550;
}
header p{
    font-weight: 500;
    font-size: 0.9em;
    line-height: 1.5em;
    padding:1em 0em;
    color: var(--Dark-Grayish-Magenta);
}


.rating{
    background-color: var(--Light-Grayish-Magenta);
    margin:1em 0em;
    width:100%;
    padding:1em 2em;
    border-radius: 10px;
}
.rating h2{
    font-size: 1em;
    color: var(--Very-Dark-Magenta);
    padding-top:0.5em;
}


.review{
    background-color: var(--Very-Dark-Magenta);
    margin:1em;
    text-align: start;
    border-radius: 5px;
    padding:2em;

}

.review img{
    border-radius:50px;
    width:40px;
    height: 40px;
    margin-right:1em;
}

.profile{
    display: flex;
    align-items: center;
}
.profile h3{
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 0.9em;
    color: var(--White);
}
.profile span{
    color: var(--Soft-Pink);
    font-weight: 300;
    padding-top:0.4em;
}
.review p{
    text-align: start;
    margin-top:1.5em;
    color: var(--Light-Grayish-Magenta);
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.8em;
}

@media screen and (min-width:992px){
    body{
        width: 80%;
        background-image: url(./images/bg-pattern-top-desktop.svg),url(./images/bg-pattern-bottom-desktop.svg);
        background-position: left top, right bottom;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;
    }
    header h1{
        font-size: 3.5em;
        text-align: start;
    }
    header p{
        font-size: 1em;
        padding:1em 0em;
        text-align: start;

    }
    .ratings{
        display: grid;
        width:100%;
    }
    .rating{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width:30em;
        margin:0.5em;
        
    }
    .stars{
        display: flex;

    }
    .stars img{
        padding-right: 0.3em;
    }
    .rate-1{
        justify-self: start;
    }
    .rate-2{
        justify-self: center;
    }
    .rate-3{
        justify-self: end;
    }
    .reviews {
        display: flex;
        height: 100%;
        grid-column: 1/3;
    }
    .review{
        width:420px;
        padding:2.5em;
        height: 15em;
    }
    .review p{
        font-size: 0.9em;
    }
    .review.two{
        
        margin-top: 25px;
    }
    .review.three{
       
        margin-top: 40px;
    }
}